@import "tailwindcss";

:root {
  --primary: #2563eb;
  --secondary: #14b8a6;
  --background: #f4f6fc;
  --foreground: #232323;
  --text-primary: #232323;
  --text-secondary: #666666;
  --text-tertiary: #999999;
  --text-quaternary: #cccccc;
  --text-quinary: #f4f6fc;
  --text-senary: #ffffff;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
}